@model RentCar.Models.RentCarModels.RentaDevolucion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Renta Devolucion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdVehiculo" class="control-label"></label>
                <select asp-for="IdVehiculo" id="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo"><option value='0'>Selecciona</option></select>
                <span asp-validation-for="IdVehiculo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" id="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"><option value='0'>Selecciona</option></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" id="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"><option value='0'>Selecciona</option></select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInspeccion" class="control-label"></label>
                <select asp-for="IdInspeccion" id="IdInspeccion" class="form-control" asp-items="ViewBag.IdInspeccion"><option value='0'>Selecciona</option></select>
                <span asp-validation-for="IdInspeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRenta" class="control-label"></label>
                <input asp-for="FechaRenta" class="form-control" />
                <span asp-validation-for="FechaRenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoDiario" class="control-label"></label>
                <input asp-for="MontoDiario" class="form-control" />
                <span asp-validation-for="MontoDiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDias" class="control-label"></label>
                <input asp-for="CantidadDias" class="form-control" />
                <span asp-validation-for="CantidadDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado"  disabled/> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*Conseguir la lista de Cliente*@
    <script type="text/javascript">
        var idVehiculo = $("#IdVehiculo");
        var idCliente = $("#IdCliente");

        //$(document).ready(function () {
        //       var items = "<option value='0'>Selecciona</option>";
        //       idCliente.html(items);
        //   });

        idVehiculo.change(function (event) {
            var vehiculoId = event.target.value;
            var url = "/RentaDevoluciones/GetClienteList";

            $.getJSON(url, { VehiculoId: vehiculoId }, function (data) {
                var item = "<option value='0'>Selecciona</option>";
                idCliente.empty();
                $.each(data, function (i, Cliente) {
                    item += '<option value="' + Cliente.value + '">' + Cliente.text + '</option>'
                });
                idCliente.html(item);
            });
        });
    </script>
   

    @*Conseguir la lista de Inspeccion*@
    <script type="text/javascript">
        var idVehiculo = $("#IdVehiculo");
        var idInspeccion = $("#IdInspeccion");

        //$(document).ready(function () {
        //       var items = "<option value='0'>Selecciona</option>";
        //       idCliente.html(items);
        //   });

        idVehiculo.change(function (event) {
            var vehiculoId = event.target.value;
            var url = "/RentaDevoluciones/GetInspeccionList";

            $.getJSON(url, { VehiculoId: vehiculoId }, function (data) {
                var item = "<option value='0'>Selecciona</option>";
                idInspeccion.empty();
                $.each(data, function (i, Inspeccion) {
                    item += '<option value="' + Inspeccion.value + '">' + Inspeccion.text + '</option>'
                });
                idInspeccion.html(item);
            });
        });
    </script>

    @*Conseguir la lista de Empleado*@
    <script type="text/javascript">
        var idEmpleado = $("#IdEmpleado");
        var idCliente = $("#IdCliente");

        //$(document).ready(function () {
        //       var items = "<option value='0'>Selecciona</option>";
        //       idCliente.html(items);
        //   });

        idCliente.change(function (event) {
            var clienteId = event.target.value;
            var url = "/RentaDevoluciones/GetEmpleadoList";

            $.getJSON(url, { ClienteId: clienteId }, function (data) {
                var item = "<option value='0'>Selecciona</option>";
                idEmpleado.empty();
                $.each(data, function (i, Empleado) {
                    item += '<option value="' + Empleado.value + '">' + Empleado.text + '</option>'
                });
                idEmpleado.html(item);
            });
        });
    </script>

}
